@font-face{
    font-family: 'courier_prime';
    src:    url('font/courier-prime-webfont/courier_prime_bold-webfont.ttf') format('truetype'),
            url('font/courier-prime-webfont/courier_prime-webfont.woff') format('woff'),
            url('font/courier-prime-webfont/courier_prime-webfont.woff2') format('woff2'),
            url('font/courier-prime-webfont/courier_prime_bold-webfont.svg') format('svg');
}
*
{
    font-family:  'courier_prime', Georgia, 'Times New Roman', Times, serif;
}
.underline
{
    text-decoration: underline;
}
.italic
{
    font-style: italic;
}
.bold
{
    font-weight: bold;
}
.center
{
    text-align: center;
}
h1
{
    text-align: center;
}
p
{
    text-align: justify;
}
.signature
{
    text-align: right;
}
.imgfloat
{
    float: left;
}
.stopfloat
{
    clear: both;
}
mark
{
    background-color: unset;
    font-style: italic;
}
a:hover
{
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
}
a:link
{
    color: rgb(82,43,145);
}
[href="register.html"]
{
    font-size: small;
}
body
{
    background-color: turquoise;   
}
.main
{
    background-color: whitesmoke;
}
.secret
{
    position: relative; left: -127px; top: 98px;
}
.bord
{
    background-color: turquoise;
    border: 2px black inset;
    border-radius: 20px;
    box-shadow: 6px 6px 5px grey;
}
input
{
    background-color: rgb(220,220,220);
}
input:focus
{
    background-color: whitesmoke;
}