table
{
    width: 100%;
}
td
{
    width: 50%;
}
form
{
    width: 750px;
    margin: auto auto;
}
td:nth-child(1)
{
    text-align: right;
}
fieldset
{
    font-family: verdana;
    background-color: #fff0f0;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px;
}
fieldset legend
{
    font-size: large;
    font-weight: bold;
}
label:hover
{
    color: red;
}