table
{
	width: 100%;
}

td
{
	width: 50%;
}

form
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

td:nth-child(1)
{
	text-align: right;
}

legend
{
	font-size: large;
	font-weight: bold;
}

fieldset
{
	font-family: verdana;
	background-color: #fff0f0;
	margin-bottom: 10px;
	border-radius: 7px;
	box-shadow: #505050 3px 3px 8px;
}

label:hover
{
	color: red;
}